#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #31304d;
  color: #f0ece5;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden;
  width: 80vw;
  height: 80vw;
}

td {
  border: 1px solid #f0ece5;
  text-align: center;
  color: #fed9ed;
}

p {
  text-align: center;
}

header {
  grid-area: header;
  height: 10vh;
}

footer {
  grid-area: footer;
  height: 10vh;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #fed9ed;
  color: #161a30;
  width: 200px;
  height: 80px;
  font-size: 1.2rem;
  font-family: Poppins, sans-serif;
  margin: 20px 0;
  font-weight: 700;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

select {
  background-color: #31304d;
  color: #f0ece5;
  height: 35px;
  padding: 10px 5px;
  border-radius: 10px;
}

input {
  height: 20px;
  padding: 10px;
  border-radius: 10px;
}

label {
  color: #f0ece5;
}

dialog {
  box-shadow: #00000029 2px 2px 5px 2px;
  border-radius: 30px;
  padding: 30px;
  width: 300px;
  background-color: #31304d;
  border: none;
  color: #f0ece5;
}

dialog::backdrop {
  background-color: rgb(182, 187, 196, 50%);
}

.name {
  height: 10vh;
}

.player-1 {
  grid-area: player-1;
  display: grid;
  margin-left: 20px;
}

.player-2 {
  display: grid;
  grid-area: player-2;
  margin-right: 20px;
}

dialog > h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2.2rem;
  text-align: center;
}

.player-1 h1 {
  justify-self: flex-start;
}

.player-2 h1 {
  justify-self: flex-end;
}

.main-game-container {
  display: grid;
  grid-template:
    'header header'
    'player-1 player-2'
    'game-board game-board'
    'game-play game-play'
    'footer footer' auto/
    50% 50%;
}

.board-container {
  grid-area: game-board;
  display: grid;
  justify-content: center;
  align-items: center;
}

.game-play-container {
  grid-area: game-play;
}

table.board-3 td {
  height: 33%;
  font-size: 4rem;
}

table.board-4 td {
  height: 25%;
  font-size: 3.4rem;
}

table.board-5 td {
  height: 20%;
  font-size: 2.6rem;
}

table.board-6 td {
  height: 17%;
  font-size: 2rem;
}

.highlight {
  color: transparent;
  text-shadow: 0 0 0 #ffa732;
}

.main-game-container dialog input {
  display: block;
}

.dialog-btn-container {
  display: grid;
  justify-content: center;
  margin-top: 20%;
}

.input-dialog-buttons-container {
  display: flex;
  justify-content: space-between;
}

.header-btn {
  background-color: #ffa732;
  color: #31304d;
  height: 40px;
  padding: 5px;
  border: none;
  margin: 10px;
}
